doctype html
html(lang='en')
  head
    title #{ __('Blockchain for Insurance') }#{!title ? '' : ' -' + title }
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='og:title' content='IBM Blockchain for Insurance')
    script(src='/js/northstar.js')
    script(src='/js/northstar-forms.js')
    script(src='/js/common.bundle.js')
    script(src='/socket.io/socket.io.js')
    link(rel='alternate', href='?applang=en', hreflang='en-us')
    link(rel='alternate', href='?applang=de', hreflang='de-de')
    include _favicon
    block header_exts
  body#ibm-com.ibm-type
    #ibm-top.ibm-landing-page
      #ibm-masthead(role='banner', aria-label='IBM')
        #ibm-mast-options
          ul(role='toolbar', aria-labelledby='ibm-masthead')
    #ibm-content-wrapper
      header
        .ibm-sitenav-menu-container
          .ibm-sitenav-menu-name
            a(href='/') #{__('基于区块链的航天发射智能化管理平台')}
          .ibm-sitenav-menu-list
            ul(role='menubar')
              li(role='presentation', class=(homeActive ? 'ibm-highlight' : ''))
                a(role='menuitem', href='/') #{ __('首页') }
              li.ibm-haschildlist(role='presentation', class=(shopActive ? 'ibm-highlight' : ''))
                span(role='menuitem') #{ __('零部件供应商') }
                ul(role='menu')
                  li(role='presentation', class=(bikesActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/shop/bikes') #{ __('板卡') }
                  li(role='presentation', class=(smartPhonesActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/shop/smart-phones') #{ __('器件') }
                  li(role='presentation', class=(skisActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/shop/skis') #{ __('线缆') }
              li(role='presentation', class=(policeActive ? 'ibm-highlight' : ''))
                a(role='menuitem', href='/police') #{ __('装备管理部门') }
              li(role='presentation', class=(repairShopActive ? 'ibm-highlight' : ''))
                a(role='menuitem', href='/repair-shop') #{ __('设备生产方') }
              li.ibm-haschildlist(role='presentation', class=(insuranceActive ? 'ibm-highlight' : ''))
                span(role='menuitem') #{ __('装备使用方') }
                ul(role='menu')
                  li(role='presentation', class=(selfServiceActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/insurance/self-service') #{ __('维护申请') }
                  li(role='presentation', class=(claimProcessingActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/insurance/claim-processing') #{ __('进度查询') }
                  li(role='presentation', class=(contractManagementActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/insurance/contract-management') #{ __('合同管理') }
      main(role='main', aria-labelledby='ibm-pagetitle-h1')
        #ibm-pcon
          #ibm-content
            #ibm-content-body
              #ibm-content-main
                block content
      //footer
      //  .ibm-columns.ibm-padding-content
      //    #ibm-footer-locale-selector.ibm-col-4-1.ibm-col-medium-4-2.ibm-fright(style='padding-top: 20px;')
      //      h3.ibm-bold Select a country/region:
      //      select#region-selector(style='width: 100%;')
      //        option(value='', selected) &nbsp;
      //        option(value='en') English
      //        option(value='de') Deutsch
      //  #ibm-footer

    #block-explorer
    script(src='/js/block-explorer.bundle.js')
    // scripts section
    block scripts
