extends _layout

block content
  .ibm-columns
    .ibm-col-5-1
    .ibm-col-5-3
      .network-container
        .network-circle
        .ibm-card.insurance-peer
          .ibm-card__content
              a(href='/insurance')
                h3.ibm-h3 #{ __('装备使用方') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/insurance/self-service')
                  | #{ __('设计资料记录') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/insurance/claim-processing')
                  | #{ __('装备试验记录') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/insurance/contract-management')
                  | #{ __('设备状态记录') }
        .ibm-card.shop-peer
          .ibm-card__content
            a(href='/shop')
              h3.ibm-h3 #{ __('零部件供应商') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/shop') #{ __('访问零部件供应商') }
        .ibm-card.police-peer
          .ibm-card__content
            a(href='/police')
              h3.ibm-h3 #{ __('装备管理部门') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/police')
                | #{ __('访问装备管理部门') }
        .ibm-card.repair-shop-peer
          .ibm-card__content
            a(href='/repair-shop')
              h3.ibm-h3 #{ __('设备生产方') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/repair-shop')
                | #{ __('访问设备生产方') }
