extends _layout

block content
  .ibm-columns(data-items='.ibm-card' data-widget='setsameheight')
    .ibm-col-6-2.ibm-col-med-2-1.ibm-col-small-1-1
      .ibm-card
        .ibm-card__image
          img(src='/img/icons/claim self-service.svg')
        .ibm-card__content
          h3.ibm-h3 #{ __('设备维修申请') }
          p #{ __('向设备生产方提交设备维修申请') }
          p.ibm-ind-link
            a.ibm-forward-link(href='/insurance/self-service')
              |  #{ __('维修申请') }
    .ibm-col-6-2.ibm-col-med-2-1.ibm-col-small-1-1
      .ibm-card
        .ibm-card__image
          img(src='/img/icons/claim processing.svg')
        .ibm-card__content
          h3.ibm-h3 #{ __('进度查询') }
          p #{ __('维修处理进度查询') }
          p.ibm-ind-link
            a.ibm-forward-link(href='/insurance/claim-processing')
              |  #{ __('新申请查看') }
    .ibm-col-6-2.ibm-col-med-2-1.ibm-col-small-1-1
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/contract management.svg')
          .ibm-card__content
            h3.ibm-h3 #{ __('合约管理') }
            p #{ __('维修申请合约管理') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/insurance/contract-management')
                |  #{ __('合约管理') }
